body {
  margin: 0;
  font-family: 'Sen',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#bdc3c7;
}

@font-face {
    font-family: 'Sen';
    font-weight: 400;
    src: local('Sen'), url(./fonts/Sen-Regular.ttf) format('truetype');
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.search-input{
  outline:1px solid #3b206b;
  padding:.6rem;
}

.inputs-outline{
    outline: 1px solid black;
    width:100%;
    padding:.2rem;
    margin:.3rem;
    margin-left:0;
}
.submit_btn{
  outline:1px solid black;
  text-align:center;
  padding:1rem;
  border:0;
  margin-top:.3rem;
  margin-left :.25em;
  background-color:#466CE5;
  color:white;
  font-size:1rem;
}
input[type="submit"]{
  color:white;
}
.submit_btn2{
    outline:1px solid black;
    text-align:center;
    padding:.3rem;
    margin-top:.3rem;
    margin-left :.25em;
    background-color:#466CE5;
}
.active{
  outline: 1px solid #bebdbd;
}
.btntext{
margin-left:-10px;
}
.top_color{
  color:#234FDE;
}